.pagination:active{
    color: blue;
}
.pagination{
    cursor: pointer;
}
.item{
    margin: 0 auto;
}
body{
    background-color: lightgreen;
}
.titleDiv{
    padding-top: 200px;
    padding-bottom: 200px;
}
#page-numbers{
    margin: 0 auto;
    display: inline-block;
    align-content: center;
}
.mapStyles{
    height:600px;
}
.marker{
    width:20px;
    height: 20px;
    border-radius: 90%;
    background-color: red;
}
.imgSize{
    height:350px!important;
}
.head{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    z-index: 1;
}
.splashScreen{
    background-image: url('../src/components/img/coverimagedit.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
@media only screen and (max-width: 400px) {
    .imgSize{
        height: 200px!important;
    }
    .mapStyles{
        height:300px;
    }
    .titleDiv{
        padding-bottom: 100px;
        padding-top: 100px;
    }
}